* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer {
    background-color: #111111;
    margin-top: auto;
}

.footerContainer {
    width: 100%;
}

.second-paragraph {
    padding-top: 20px;
}

a {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.faq-link {
    color: #970808;
    text-decoration: none;
}

h1, h2 {
    font-family: Caslon, Mercury Display, Kis;
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom: #ffffff;
}

h1 {
    font-size: x-large;
    margin-top: 1%;
}

h2 {
    margin-bottom: 1rem;
}

h3, p, ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
}

ul {
    list-style-type: none;
}

p.main-paragraph1, p.main-paragraph2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.why-it-fits {
    margin-left: 30px;
    margin-top: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    background-color: rgba(17, 17, 17, 0.664);
    font-family: Times, serif;
    padding: 2%;
    color: aliceblue;
    text-align: center;
}

.topnav a {
    background-color: rgba(125, 75, 75, 0);
    padding: 0 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
}

.topnav-links {
    text-decoration: none;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: rgb(255, 255, 255);
}

.footernav {
    margin: 30px;
}

.footernav ul {
    display: flex;
    justify-content: center;
}

.footernav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover {
    opacity: 1;
}

.footerbottom {
    background-color: #000000;
    padding: 20px 1;
    text-align: center;
}

.footerbottom p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* Sidebar */
.container-side-bar {
    height: 100%;
    width: 250px;
    position: absolute;
    background: #161616;
    z-index: 1;
    transition: 0.5s ease;
    transform: translate(-250px);
}

.container-side-bar .head {
    color: #090909;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(30deg, #ffffff, #ffffff);
}

ol {
    width: 100%;
    list-style: none;
}

ol li {
    width: 100%;
}

ol li a {
    color: rgb(255, 255, 255);
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.3s;
}

ol li a i {
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
}

ol li:hover a {
    background-color: #ffffff;
    color: #000000;
    letter-spacing: 5px;
}

#bars {
    background: rgba(255, 0, 0, 0);
}

#check:checked~.container-side-bar {
    transform: translateX(0);
}

#check:checked~.container-side-bar #bars {
    display: none;
}

/* Fixed Footer */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/papyrus-dark.png);
}

/* Images */
.welcome-img, .gaming-pc, .thinking-man, .profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gaming-pc, .thinking-man {
    width: 25%;
}

.profile-pic {
    border-radius: 50%;
    width: 10%;
}

/* Text */
.welcome {
    text-align: center;
   }

.introduction {
    margin-top: 5%;
}

.active-page {
    color: #ff0000;
    text-decoration: none;
}

.inactive-page {
    text-decoration: none;
}

.text-box {
    border: 5px solid;
    color: rgb(255, 255, 255);
    padding: 1%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* FAQ Accordion */
.accordion {
    margin: 20px auto;
    width: 600px;
}

.accordion li {
    list-style: none;
    padding: 10px;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
}

.accordion label {
    font-weight: bold;
    cursor: pointer;
    display: block;
    padding: 10px;
    background-color: #000000;
    border-radius: 5px;
}

.accordion .faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
}

.accordion .faq-content p {
    padding: 10px 0;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label + .faq-content {
    max-height: 500px;
    padding: 10px;
}

.accordion label:hover {
    background-color: #b51010;
}

/* Blog Post */
.blog-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.blog-post {
    background: #ffffff27;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.blog-post h2 {
    margin-bottom: 0.5rem;
}

.date {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.blog-post p {
    margin-bottom: 1rem;
}

.blog-post a {
    color: #c22424;
    text-decoration: none;
}

.blog-post a:hover {
    text-decoration: underline;
}

.blog-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}
span {
    position: absolute;
    right: -40px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color: #ffffff;
    padding: 3px 8px;
    cursor: pointer;
    background: #000000;
}

#bars {
    background: rgba(255, 0, 0, 0);
}
#check {
    display: none; 
}
